Source: sidux-art-wallpaper-erebos-edu
Section: graphics
Priority: extra
Maintainer: Dinko Sabo <cobra@sidux.com>
Build-Depends: cdbs, debhelper (>= 7), inkscape
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-wallpaper-erebos-edu/trunk/
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-wallpaper-erebos-edu/trunk/


Package: sidux-art-wallpaper-erebos-edu
Provides: sidux-art-wallpaper-theme
Conflicts: sidux-art-wallpaper-erebos
Architecture: all
Description: sidux-edu wallpaper for 2008-02 release
 the wallpaper for the 2008-02 (Erebos)
 sidux-edu release. Includes 1920x1200, 1600x1200
 and 1280x1024 versions